<div class="h">
  <div class ="imglogo">
      <img src="../asset/logo795.png"width="90px"height="100px">
      <div class = "topic">
          <h1>FOURSEASONS</h1>
          <a href ="http://localhost:55063/POS-System/Sliit/view/SignUp.html?_ijt=lf20tnkfuelgpgrbv0v71g7v14"id ="button2"> Sign In</a>

          <a href ="#"id ="button3"> Sign Up</a>




          <div class ="nav">
              <ul>
                  <li>
                      <a href ="http://localhost:55063/POS-System/Sliit/view/Home.html?_ijt=dqrmmkjf9qovsvlge7ge9o7hgj">
                          <i class="fa fa-paper-plane" aria-hidden="true"></i> Home</a>
                  </li>
                  <li>
                      <a href = "#">
                          <i class="fa fa-bookmark" aria-hidden="true"></i>
                          Private Retreats</a>
                  </li>
                  <li>
                      <a href = "#">
                          <i class="fa fa-newspaper-o" aria-hidden="true"></i> Residences</a></li>
                  <li><a href = "#">
                      <i class="fa fa-usd" aria-hidden="true"></i> Meeting & Events</a></li>
                  <li><a href = "#">
                      <i class="fa fa-handshake-o" aria-hidden="true"></i> Services</a></li>
                  <li><a href = "#">
                      <i class="fa fa-home" aria-hidden="true"></i>Gifts Cards</a>
                  </li>
                  <li>
                      <a href = "#">
                          <i class="fa fa-newspaper-o" aria-hidden="true"></i> About Us</a></li>
                  <li>
                      <a href = "#">
                          <i class="fa fa-newspaper-o" aria-hidden="true"></i>Contact Us</a></li>
              </ul>
          </div></div></div>
</div>
